* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(15, 48, 54);
}

.main {
  background-color: rgba(8, 197, 18, 0.315);
  padding: 20px;
  border-radius: 10px;
  color: white;
  max-width: 90vw;
}
.passLay {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}
.icon {
  font-size: 30px;
  cursor: pointer;
}
.inputLay {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#range {
  width: 50%;
  cursor: pointer;
}
#rangeValue {
  font-size: 20px;
}

.charactersLay {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 40px 0;
  font-size: 20px;
  font-weight: bold;
}

.checkbox {
  cursor: pointer;
}
#checkbox1,
#checkbox2,
#checkbox3,
#checkbox4 {
  width: 25px;
}

@media (max-width: 500px) {
  .main {
    min-height: 35vh;
    min-width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .passText {
    font-size: 18px;
    padding: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .inputLay {
    flex-direction: column-reverse;
    align-items: center;
    gap: 5px;
  }
  #range {
    width: 95%;
  }
  .charactersLay {
    border-top: 2px solid rgba(92, 92, 92, 0.226);
    margin-top: 10px;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .charactersTxt {
    font-size: 20px;
    font-weight: bold;
  }
}
